{% extends "base.html" %}

{% block title %}About | Jaloliddin's blog{% endblock %}

{% block page_content %}
    <div class="container d-flex justify-content-center">
        <div class="row d-flex align-items-center">
            <!-- Image Div -->
            <!-- <div class="col-auto">
                <img src="https://www.pngitem.com/pimgs/m/595-5952790_140-x-140-pixels-hd-png-download.png" alt="Italian Trulli" class="rounded-circle mt-4", style="width: 220px; height: 220px;">
            </div> -->
    
            <!-- Info Div -->
            <!-- <div class="justify-content-center align-items-center profile-info mt-5"> -->
                <div class="d-flex flex-column align-items-center profile-info mt-5">
                <img src="https://img.freepik.com/free-photo/view-3d-man-holding-laptop_23-2150709818.jpg?size=626&ext=jpg" alt="Italian Trulli" class="rounded-circle mt-3", style="width: 220px; height: 220px;">
                <h2 class="justify-content-center mt-3">Jaloliddin Murodullaev</h2>
                <p class="no-wrap lead">Software Engineer</p>
                <p class="no-wrap lead">
                    I write about my experience in tech world. 
                </p>
                <div class="social-links mt-3">
                    <a href="https://linkedin.com/in/jaloliddinmurodullayev" target="_blank" class="me-3 text-decoration-none">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a> 
                    <a href="https://github.com/jaloliddinmurodullaev" target="_blank" class="me-3 text-decoration-none">
                        <i class="fab fa-github fa-2x"></i>
                    </a> 
                    <a href="https://t.me/jaloliddinmurodullaev" target="_blank" class="me-3 text-decoration-none">
                        <i class="fab fa-telegram fa-2x"></i>
                    </a> 
                </div>
            </div>
        </div>
    </div>
    
{% endblock page_content %}